.NameAndFoto {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NameAndFoto img {
    border: 1px solid white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
}

.NameAndFoto img:hover {
    border: 1px solid black;
    cursor: pointer;
}

.Group-Title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.row{
    display: flex;
    flex-direction: row;
}

.group-data{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.group-data input{
    margin-top: 0;
    margin-bottom: 0;
}

.group-data #name{
    min-width: 80%;
}
