@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,800;1,600&display=swap');

.NameAndFoto {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-family: Poppins;
}

.dashboard-main{
    margin: 5%;
}

.NameAndFoto img {
    border: 2px solid transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    background-color: #fff;
    margin-right: 20px;
}

.NameAndFoto img:hover {
    border: 2px solid rgb(0, 174, 255);
    cursor: pointer;
}

.Group-Title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-family: Poppins;
}
.row{
    display: flex;
    flex-direction: row;
}

.group-data{
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: Poppins;
}

.group-data input{
    margin-top: 0;
    margin-bottom: 0;
}

.group-data #name{
    min-width: 80%;
}
