@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menuItem {
        @apply relative mb-2 hover:cursor-pointer text-black font-semibold
    }
    .menuItem.active{
        @apply relative !bg-light dark:!bg-bg-dark select-none ml-2 rounded-l text-black
    }
    .menuItem.active::before{
        content: '';
        position: absolute;
        right: 0;
        top:-50px;
        width: 50px;
        height: 50px;
        border-radius: 15%;
        background-color: transparent;
        box-shadow: 25px 25px 0px rgb(249, 247, 247);        
    }
    .dark .menuItem.active::before{
        content: '';
        position: absolute;
        right: 0;
        top:-50px;
        width: 50px;
        height: 50px;
        border-radius: 15%;
        background-color: transparent;
        box-shadow: 25px 25px 0px rgba(29 29 31);        
    }   
    .menuItem.active::after{
        content: '';
        position: absolute;
        right: 0;
        bottom:-50px;
        width: 50px;
        height: 50px;
        border-radius: 15%;
        background-color: transparent;
        box-shadow: 25px -25px 0px rgb(249, 247, 247);        
    }
    .dark .menuItem.active::after{
        content: '';
        position: absolute;
        right: 0;
        bottom:-50px;
        width: 50px;
        height: 50px;
        border-radius: 15%;
        background-color: transparent;
        box-shadow: 25px -25px 0px rgba(29 29 31);        
    }
    .topbar::before{
        content: '';
        position: absolute;
        left: 0;
        top: 48px;
        width: 50px;
        height: 50px;
        border-radius: 15%;
        background-color: transparent;
        box-shadow: -25px -25px 0px rgb(63, 114, 175); 
        z-index: 0;
    }
    .dark .topbar::before{
        content: '';
        position: absolute;
        left: 0;
        top: 40px;
        width: 50px;
        height: 50px;
        border-radius: 15%;
        background-color: transparent;
        box-shadow: -25px -25px 0px #1F2326; 
    }
    .menuItem.active a{
        @apply !text-blue-dark
    }
    .menuItem .pro-icon{
        @apply !text-white
    }
    .menuItem.active .pro-icon{
        @apply !text-blue-mid
    }
    .menuItem a{
        @apply !text-white
    }
    .card {
        @apply white m-1 ml-0 rounded shadow-lg p-6
    }
}
.dark input{
 @apply bg-gray-700
}

.dark input:disabled{
    @apply bg-gray-500
}
.dark .react-datepicker, .dark .react-datepicker__header{
    @apply bg-gray-700
}
.dark *{
    @apply text-blue-light
}
#subjectInChat{
    direction:rtl;
}
#subjectInChat > button{
    direction:ltr;
}
span{
    @apply text-[#112D4E]
}

@layer utilities {
    .bg-dark{
        @apply bg-[#181a1e]
    }
    .dark-card-bg {
        @apply !bg-[#1d252c]
    }
    .white{
        @apply !text-[#202528] !bg-white
    }
    .dark{
        @apply !text-[#f6f6f9] dark-card-bg
    }
}
.pro-sidebar-inner {
    @apply !bg-blue-mid dark:dark-card-bg
}
#root{
    @apply h-full
}

/* .CircularProgressbar-path {
    @apply !stroke-blue-mid;
  }
  .CircularProgressbar-trail {
    @apply !stroke-blue-light;
  }
  .CircularProgressbar-text {
    @apply !text-blue-dark;
  } */
.active .pro-inner-item {
    @apply !pl-2
}
.pro-inner-item{
    @apply !pl-3
}
.pro-icon-wrapper{
    @apply !bg-transparent
}
.pro-icon{
    @apply rounded p-0
}
.pro-sidebar{
    transition-property: width, left, right, min-width, transform;
    @apply !duration-200 !ease-in-out !transform text-white ;
    
}
#chat::-webkit-scrollbar-track,#subjectInChat::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
  @apply m-2
}
#chat::-webkit-scrollbar,#subjectInChat::-webkit-scrollbar {
  width: 6px;
}
#chat::-webkit-scrollbar-thumb, #subjectInChat::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  @apply bg-blue-mid

}
* {
    @apply font-['Poppins'] 
}

#calendar > * {
    @apply text-blue-dark
 }
.rbc-off-range-bg {
    @apply dark:bg-gray-500
}
.rbc-day-bg:hover{
    @apply bg-gray-200 cursor-pointer dark:bg-gray-700
}

.rbc-today{
    @apply bg-blue-light dark:bg-blue-500/20
}

.rbc-selected-cell{
    @apply !bg-blue-light dark:bg-gray-500
}

.rbc-btn-group button{
    @apply dark:text-white
}

.rbc-btn-group button:hover{
    @apply dark:text-gray-600
}
.rbc-active{
    @apply dark:text-blue-dark
}