

.bglight {
    background-color: #fafafa !important;
    color: #202022;
    ;
}

#title-bar.lightbar {
    color: #202022;
    background-color: #ebebeb;
    box-shadow: 2px 0 5px .1px #0000003d;
}

#title-bar-btns.lightbar button:hover {
    background-color: #858585;
}

.lightDark {
    background-color: #f3f3f3 !important;
}

a {
    color: #68217A
}

.lightshadow {
    box-shadow: 0 0 5px 1px rgba(109, 109, 109, 0.212);
}

.lightDark {
    background-color: #ebebeb
}

button.ligth {
    color: #adadad
}

button.light:hover {
    background-color: rgba(0, 0, 0, 0.178) !important;
}

.gSubmit.light{
    background-color: #414141 !important;
}
.gSubmit.light:hover{
    background-color: #666666 !important;
    cursor: pointer;
}

a.light{color:black}